<<!-- form method="post" action="/books/<%= @book.id %>">
  <label for="title-field">Title:</label>
  <input
  type="text"
  name="title"
  id="title_field"
  value="<%= @book.title %>"
  />

  <label for="quantity-field">Quantity:</label>
  <input
  type="number"
  name="quantity"
  id="quantity-field"
  value="<%= @book.quantity() %>"
  />

  <input type='submit' value="Edit Book>
</form> -->

<p>Title: <%= @book.title %></p>
<p>Quantity: <%= @book.quantity %></p>
<p><a href="/books/<%= @book.id %>/edit">Edit Book</a></p> 
