<form method="post" action="/books/<%= @book.id %>">
  <label for="title-field">Title:</label>
  <input
  type="text"
  name="title"
  id="title_field"
  value="<%= @book.title %>"
  />

  <label for="quantity-field">Quantity:</label>
  <input
  type="number"
  name="quantity"
  id="quantity-field"
  value="<%= @book.quantity() %>"
  />

  <label for="author-field">Author:</label>
  <input
  type="text"
  name="author"
  id="author-field"
  value="<%= @book.author().get_full_name() %>"
  />

  <label for="author-id-field">Book ID:</label>
  <input
  type="number"
  name="author_id"
  id="author-id-field"
  value="<%= @book.author_id %>"
  />

  <input type='submit' value="Update Book">
</form>