<h1>Inventory of Books</h1>

<table>
  <% for book in @books %>
  <tr>
    <td><%= book.title %></td>
    <td><%= book.author.first_name %></td>
    <td><%= book.author.last_name %></td> 
    <td><%= book.quantity %></td>
    <td><%= book.stock_level %></td>
  </tr>
  <% end %>
</table>

<p><a href="/books/new">Add book(s)</a></p> 

