<h1>All Books</h1>

<table>
  <tr>
    <th>Book</th>
    <th></th>
  </tr>
  <% for book in @books %>
  <tr>
    <td><%= book.title %></td>
    <td><%= book.quantity %></td>
    <!-- <td><%= book.author.first_name %></td>
    <td><%= book.author.last_name %></td> -->
    <td>|</td>
  </tr>
  <% end %>
</table>

<p><a href="/books/new">Add a book</a></p> 

<!-- <h3>All Hogwarts Students</h3>

<% @students.each() do |student| %> 

<p>Name: <%= student.full_name() %></p>
<p>House: <%= student.house.name %></p>
<p>Age: <%= student.age %></p> 
<img src="<%= student.house.logo_url %>" />

<hr/>

<% end %>

<p><a href="/students/new">Enroll Student</a></p>
 -->
